submitit
torchmetrics[image]
torchvision

CUDA_VISIBLE_DEVICES=0,1 torchrun --standalone --nproc_per_node=2 train.py \
  --dataset=cifar10 \
  --discrete_flow_matching \
  --batch_size=256 \
  --accum_iter=1 \
  --epochs=3000 \
  --class_drop_prob=1.0 \
  --compute_fid \
  --sym_func \
  --metric_induced \
  --wandb --wandb_project flow_matching --wandb_run_name cifar10_dfm_bs256